/.venv
/__pycache__
config.json
*.pdf
/data/db.csv

/lib/__pycache__
/lib/config.json

/lib/builder/.output
/lib/builder/tex
/lib/builder/__pycache__

/lib/db/__pycache__
/lib/db/test.py

/lib/mailer/__pycache__
